body {
	font-family: helvetica, calibri, arial, sans-serif;
	font-size: 11px;
	}
	
			h1 {
				margin: 0;
				padding-left: 10px;
				padding: 0;
				}
			h2 {
				margin: 0;
				padding: 0;
				}
			
			p {
				margin: 0;
				padding: 0;
				}
			
			svg {
				background-color: none;
				text-align: center;
			}
			rect {
				fill: #2c3e50;
				border-color: #95a5a6;
				border-width: 2px;
				}

			rect:hover {
				fill: #1abc9c;
				}
							
			.left {
			text-align: left;
			}
			
			.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
			
			.axis text {
				font-family: sans-serif;
				font-size: 11px;
			}

			.y.axis path,
			.y.axis line {
			opacity: 0;
			}
			
			#container {
			width: 1000px;
			height: 720px;
			margin: 0;
			padding: 0;
			border: 1px solid #7f8c8d;
			}
			
			#wrapper {
			width: 1000px;
			margin: 0;
			padding: 0;
			}
			
			#leftdiv {
				width:740px;
				padding: none;
				margin: none;
				margin-top: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
				height: 600px;
				float: left;
				}
					
			#rightdiv{
				width: 230px;
				padding-top: 20px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 10px;
				margin: none;
				margin-top: 10px;
				margin-bottom: 10px;
				height: 570px;
				float: left;
				text-align: left;
				}
			
			#header {
				text-align: center;
				font-family: helvetica, calibri, arial, sans-serif;
				text-decoration: bold;
				padding-left: 10px;
				padding-bottom: 10px;
				padding-top: 10px;
				width: 990px;
				background-color: #ffffff;
				color: #000000;
				}
			#source {
			padding-left: 10px;
			font-family: helvetica, calibri, arial, sans-serif;
			font-size:10px;
			color: #95a5a6}